nav {
  width: 100%;
  color: $color-secondary;
  display: flex;
}

.firstpage {
  display: flex;
  height: 100vh;
}

.page {
  display: flex;
  height: 100vh;
}
.page__project {
  display: grid;
  height: 100vh;
}

/* phone screen */
@media only screen and (max-width: 768px) {
  .nav__mobile {
    display: flex;
    justify-content: space-between;
  }

  .nav__desktop {
    display: none !important;
  }
}

/* desktop screen */
@media only screen and (min-width: 768px) {
  .nav__mobile {
    display: none;
  }

  .nav__desktop {
    display: block;
  }

  .landingPage {
    .heading {
      flex-direction: row !important;
    }

    .title {
      flex-direction: row !important;
    }
  }
}
