/* Import styles sheets */
/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Monofett&family=Monoton&family=Roboto&family=Space+Mono&display=swap");
/* Variables */
/* Page Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", mono;
  color: #F9F6F0;
  background-color: #604567;
}

a:link,
a:visited {
  text-decoration: none;
}

/*.background {
  position: absolute;
  height: 50px;
  width: 100px;
  left: -20px;
  top: 70px;
  background-color: $color-primary-dark;
  opacity: 70%;
  border-radius: 50%;
  z-index: 0;
} */
* {
  background-color: #604567;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23503258' fill-opacity='0.69' fill-rule='evenodd'/%3E%3C/svg%3E");
}

nav {
  width: 100%;
  color: #7CC7E4;
  display: flex;
}

.firstpage {
  display: flex;
  height: 100vh;
}

.page {
  display: flex;
  height: 100vh;
}

.page__project {
  display: grid;
  height: 100vh;
}

/* phone screen */
@media only screen and (max-width: 768px) {
  .nav__mobile {
    display: flex;
    justify-content: space-between;
  }

  .nav__desktop {
    display: none !important;
  }
}
/* desktop screen */
@media only screen and (min-width: 768px) {
  .nav__mobile {
    display: none;
  }

  .nav__desktop {
    display: block;
  }

  .landingPage .heading {
    flex-direction: row !important;
  }
  .landingPage .title {
    flex-direction: row !important;
  }
}
nav {
  justify-content: right;
}
nav i {
  color: #7CC7E4;
  font-size: 3em;
  margin: 20px;
}
nav a {
  color: #7CC7E4;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  margin: 20px;
}
nav .nav__desktop {
  display: flex;
  justify-items: right;
}

.landingPage {
  display: flex;
  flex-direction: column;
}
.landingPage .title {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 20px;
  vertical-align: Top;
  flex-grow: 1;
}
.landingPage .title div {
  font-family: "Monofett", fantasy;
  font-style: Regular;
  font-size: 60px;
  line-height: 3.75em;
  line-height: 74%;
  letter-spacing: 2%;
}
.landingPage .heading {
  display: flex;
  flex-direction: column;
  justify-content: right;
  margin: 20px;
  flex-grow: 1;
}
.landingPage .heading div {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 3.125em;
  line-height: 74px;
  text-align: right;
}
.landingPage__p {
  font-size: 10px;
  opacity: 70%;
}
.landingPage i {
  font-size: 2em;
}

.page__icons {
  display: flex;
  justify-content: center;
}
.page__icons--mod {
  color: #7CC7E4;
  display: flex;
  margin: 20px;
  font-size: 4em;
}